{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>For Teachers</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

	<link rel="stylesheet" href="style.css">

	<title></title>
</head>
<body>


	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bx-book' ></i>
			<span class="text">EduPortal</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="{%url 'dummy'%}">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			
			<li>
				<a href="{%url 'Teach_attendance'%}">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Attendance</span>
				</a>
			</li>

      <li>
				<a href="{%url 'dummy'%}">
					<i class='bx bx-pencil'></i>
					<span class="text">Test</span>
				</a>
			</li>
  
      <li>
				<a href="{%url 'dummy'%}">
					<i class='bx bx-search-alt-2' ></i>
					<span class="text">Search</span>
				</a>
			</li>
      
      <li>
				<a href="{%url 'dummy'%}">
					<i class='bx bxs-book-open'></i>
					<span class="text">Publication</span>
				</a>
			</li>
      
      
		</ul>
		<ul class="side-menu">
			<li>
				<a href="{%url 'dummy'%}">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="{% url 'signout' %} " class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link"></a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bx-male' ></i>

			</a>
		</nav>

		<main>
			<div class="head-title">
				<div class="left">
					<h1>Welcome Teacher!</h1>
					<ul class="breadcrumb">
					
				
					</ul>
				</div>
				<a href="{%url 'dummy'%}" class="btn-download">
					<span class="text">SOMETHING</span>
				</a>
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">
						<h3>96%</h3>
						<p>Attendence</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-pencil' ></i>
					<span class="text">
						<h3>95%</h3>
						<p>Marks</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-book-open' ></i>
					<span class="text">
						<h3>BLAH</h3>
						<p>BLAH BLAH</p>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Upcoming Events</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>Event Name</th>
								<th>Date </th>
								<th>Info</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									
									<p>Event 1</p>
								</td>
								<td>17-01-23</td>
								<td><span class="status completed">Blah</span></td>
							</tr>
							<tr>
								<td>
									
									<p>Event 2</p>
								</td>
								<td>17-01-23</td>
								<td><span class="status pending">Blah</span></td>
							</tr>
							<tr>
								<td>
									
									<p>Event 3</p>
								</td>
								<td>17-01-23</td>
								<td><span class="status pending">Blah</span></td>
							</tr>
							<tr>
								<td>
									
									<p>Event 4</p>
								</td>
								<td>17-01-23</td>
								<td><span class="status pending">Blah</span></td>
							</tr>
							<tr>
								<td>
									
									<p>Event 5</p>
								</td>
								<td>17-01-23</td>
								<td><span class="status pending">Blah</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="todo">
					<div class="head">
						<h3>Marks</h3>
						<i class='bx bx-plus' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<ul class="todo-list">
						<li class="completed">
							<p>Exam 1</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Exam 2</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Exam 3</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Exam 4</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Exam 5</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
					</ul>
				</div>
			</div>
		</main>

	</section>

	

	<script src="{% static 'script.js' %}"></script>
</body>
</html>
<!-- partial -->
  <script  src="{% static 'script.js' %}"></script>

</body>
</html>
